<div class="card mb-4">
    {% if property.imageName %}
    <!--<img class="card-img-top" src="/images/properties/{{ property.imageName }}" style="width: 100%; height: auto;"/>-->
    <!-- <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" style="width: 100%; height: auto;"/> -->
    <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') }}" style="width: 100%; height: auto;"/>
    {% else %}
    <!-- <img class="card-img-top" src="{{ "/images/properties/empty.jpg" | imagine_filter('thumb')  }}" style="width: 100%; height: auto;"/> -->
    <img class="card-img-top" src="{{ "/images/properties/empty.jpg" }}" style="width: 100%; height: auto;"/>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
            {{ property.title }}
            </a>
        </h5>
        <p class="card-text">{{ property.surfaceArea }} m² - {{ property.city }} ( {{ property.zipCode }} )</p>
        <!-- <div class="text-primary">{{ property.price | number_format(0, '', ' ') }} €</div> -->
        <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice }} €</div>
    </div>
</div>