{% extends "base.html.twig" %}

{% block title property.title %}

{% block body %}
        <div class="jumbotron">
            <div class="container">
                
                {{ include('generic/_flashes.html.twig') }}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        An error has occurred !!!
                    </div>
                {% endif%}

                <div class="row">
                    <div class="col-md-8">
                         {% if property.imageName %}
                        <!-- <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" style="width: 100%; height: auto;"/> -->
                            <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') }}" style="width: 100%; height: auto;"/>
                        {% else %}
                        <!-- <img class="card-img-top" src="{{ "/images/properties/empty.jpg" | imagine_filter('medium')  }}" style="width: 100%; height: auto;"/> -->
                        <img class="card-img-top" src="{{ "/images/properties/empty.jpg" }}" style="width: 100%; height: auto;"/>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <h1>{{ property.title }}</h1>
                        <h2>{{ property.rooms }} rooms - {{ property.surfaceArea }} m²</h2>
                        <div class="text-primary" style="font-size: 4rem; font-weight: bold;">
                            {{ property.formatedPrice }} DT
                        </div>
                        <a href="#" class="btn btn-primary">Contact agency</a>
                        <div id="contactForm" class="mt-4">
                             {{ form_start(form) }}
                             <div class="row">
                                <div class="col">{{form_row(form.firstname)}}</div>
                                <div class="col">{{form_row(form.lastname)}}</div>
                             </div>
                             <div class="row">
                                <div class="col">{{form_row(form.phone)}}</div>
                                <div class="col">{{form_row(form.email)}}</div>
                             </div>
                             {{form_rest(form)}}
                             <div class="form-group">
                                <button class="btn btn-primary" formnovalidate>Send</button>
                             </div>
                             {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="container mt-4">
            
            <p>
                {{ property.description | nl2br }}
            </p>

            <div class="row">
                <div class="col-md-8">
                    <h2>More Details</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Living space</td>
                            <td>{{ property.surfaceArea }} m²</td>
                        </tr>
                        <tr>
                            <td>Rooms</td>
                            <td>{{ property.rooms }}</td>
                        </tr>
                        <tr>
                            <td>Bedrooms</td>
                            <td>{{ property.bedrooms }}</td>
                        </tr>
                        <tr>
                            <td>Floor</td>
                            <td>{{ property.floor }}</td>
                        </tr>
                        <tr>
                            <td>Heaheatert</td>
                            <td>{{ property.heatType }}</td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Specificity</h2>
                    <ul class="list-group">
                        {%  for option in property.options %}
                            <li class="list-group-item">{{ option.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>

{% endblock %}