<!-- install MailDev -->
<!-- use https://mjml.io/ to create mail template -->

<a href="{{ url('property.show', {'slug': contact.property.slug, 'id': contact.property.id}) }}">{{contact.property.title}}</a>


{{contact.firstname}}
{{contact.lastname}}
{{contact.phone}}
{{contact.email}}
{{contact.message |nl2br}}