{% extends "base.html.twig" %}


{% block body %}

    <div class="container mt-4">
        <h1>Edit Option</h1>   
        {{ include('admin/option/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}