{% extends "base.html.twig" %}

{% block title 'Manage Options' %}

{% block body %}

    <div class="container mt-4">
        <h1>Manage Options</h1>

            {{ include('generic/_flashes.html.twig') }}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}
                    <tr>
                        <td>{{ option.name }}</td>
                        <td>
                            <a href="{{ path('admin.option.edit', {id: option.id}) }}" class="btn btn-warning">Edit</a>
                        
                            <form 
                            method="post" 
                            action="{{ path('admin.option.delete', {id: option.id}) }}" style="display: inline-block"
                            onsubmit="return confirm('Are you sure ?')"
                            >
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                                <button class="btn btn-danger"> Delete </button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.option.create') }}" class="btn btn-primary"> Create New Option</a>
        </div>
            
    </div>

{% endblock %}